<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="classes">
    <test verbose="2" preserve-order="true" name="D:/Work/AT19_MavenProject">
        <parameter name="browser" value="Chrome"></parameter>
        <!--        <parameter name="url" value="https://demo.guru99.com/test/simple_context_menu.html"></parameter>-->
        <!--        <parameter name="url" value="https://tiki.vn/"></parameter>-->
        <parameter name="url" value="https://demo.guru99.com/test/login.html"></parameter>
        <classes>
            <class name="test.TC_Login"></class>
            <class name="test.WebDriver_Command_Special_Events"></class>
        </classes>
    </test>

    <!--    <test verbose="2" preserve-order="true" name="D:/Work/AT19_MavenProject2">-->
    <!--        <parameter name="browser" value="Firefox"></parameter>-->
    <!--        <classes>-->
    <!--            <class name="TestNG_Day10"></class>-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>